@import "../../styles/settings/settings.colors";
@import '../../styles/settings/settings.variables';

html {
  box-sizing: border-box;
  --bgColorMenu : #1d1d27;
  --duration: .7s;
  overflow: hidden;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

.container {
  margin: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.main_menu {
  z-index: 10;
  position: fixed;
  bottom: 0;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 1.5em;
  padding: 0 0.6em;
  align-items: center;
  justify-content: center;
  background-color: $offYellow-color;

  &__border {
    left: 0;
    z-index: 99;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color: $offYellow-color;
    transition: transform var(--timeOut , var(--duration));
  }

  &__icon {
    color: whitesmoke;
  }

  &__element{
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut , var(--duration));

    &::before{
      content: "";
      z-index: -1;
      width: 4.2em;
      height: 4.2em;
      border-radius: 50%;
      position: absolute;
      transform: scale(0);
      transition: background-color var(--duration), transform var(--duration);
    }

    &.active {
      transform: translate3d(0, -.8em , 0);

      span {
        transition: color 1s ease;
        svg {
          color: whitesmoke;
        }
      }
    }

    &.active::before {
      transform: scale(0.9);
      background-color: var(--bgColorMenu);
    }

    span {
      svg {
        color: black;
      }
      pointer-events: none;
    }

  }

}

.svg-container {
  width: 0;
  height: 0;
}