@import '../../styles/settings/settings.colors';

.configuration{
    display: flex;
    flex-direction: column;

    &__button{
        width: 230pt;
        height: 28pt;
        margin-bottom: 20px;
        padding-left: 13pt;
        border-top-left-radius:4pt;
        border-top-right-radius:4pt;
        border-bottom-left-radius:4pt;
        border-bottom-right-radius:4pt;
        border: none;
        text-align: start;
        font-family: 'Overpass';
        font-size: 12pt;
        font-weight: bold;
        color: $darkGreyBlue-color;
        background-color: $greyForm-color;
        cursor: pointer;
    }

    &__icon1{
        font-size: 16px;
        margin-left: 180px;  
    }

    &__icon2{
        font-size: 16px;
        margin-left: 166px;  
    }

    &__icon3{
        font-size: 16px;
        margin-left: 140px;  
    }

    &__icon4{
        font-size: 16px;
        margin-left: 205px;  
    }

    &__icon5{
        font-size: 16px;
        margin-left: 194px;  
    }

}
