@import '../../styles/settings/settings.colors.scss';

.finishbuy{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;

    &__title{
        padding-bottom: 35px;
        font-family: 'Overpass';
        font-weight: 200;
        color: $offYellow-color;
    }

    &__text{
        padding-bottom: 20px;
        font-family: 'Overpass';
        color: $white-color;
        font-size: 18px;
    }

    &__link{
        text-decoration: none;
        padding-top: 20px;
    }
}