@import '../../styles/settings/settings.variables';

img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.platforms{

    padding: 19px;
    padding-top: 60px;
    overflow: auto;
    height: calc(100vh - #{$header-height} - #{$main-menu-height});
    width: 100%;

    

    &__position{
    display: flex;
    justify-content: center;
    
    }

    &__box1{
        flex: 1;
        margin: 5px;
    }

    &__text{
        display: flex;
        justify-content: center;
        font-family: 'Overpass';
        font-size: 16px;
        padding-bottom: 30px;
    }

}