@import "../../styles/settings/settings.colors";
@import '../../styles/settings/settings.variables';

.events {
    padding: 19px;
    overflow: auto;
    height: calc(100vh - #{$header-height} - #{$main-menu-height});
    width: 100%;
    background: $darkGreyBlue-color;
}
.submenu{
    display: flex;
    justify-content: center;
    padding-top: 8pt;
}