@import '../settings/settings.colors';

//PARA TEXTOS HEADER 
.titles-header{
    margin-top: 23px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2px;
    color: $text-header-color;
    font-family: 'Overpass';

    &__card{
        font-size: 1rem;
        color: $black-color;
        font-family: 'Overpass';

        &--size{
            font-size: 0.9rem;
            color: $black-color;
            font-family: 'Overpass';
        }
    }

    &__name{
        color: $black-color;
        font-family: 'Overpass';
    }
}

// para titulos de la home page ARTISTAS, ESTILOS, SALAS
.carrousel__titles{
    text-align: center;
    font-size: 1rem;
    color: $white-color;
    font-weight: 500;
    font-family: 'Overpass';
    margin-bottom: 5px;
}

.event__date{
    font-family: 'Overpass';
    font-size: 17pt;
    color: $white-color;
}

// .ticket__detail{
//     font-family: 'Overpass';
//     color: $white-color;
//     font-size: 10pt;
    
// }

.ticket__singer{
    padding-bottom: 10px;
    font-family: 'Overpass';
    font-size: 18pt;
    font-weight: 200;
    color: $offYellow-color;
}

.text-detail{
    font-size: 11pt;
    font-family: 'Overpass';
    color: $white-color;
}

