    @import '../settings/settings.colors';
    body {
        background-color: $darkGreyBlue-color;
    }
    
    // tamaño y colocación formulario
    .form {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 60px;
        &--position {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 28px;
        }
        // titulo de register y login
        &__title {
            padding-bottom: 30px;
            font-family: 'Overpass';
            color: $white-color;
            &--color {
                padding-left: 12px;
                font-family: 'Overpass';
                font-weight: bold;
                color: $black-color;
            }
        }
        // titulo de fanForm
        &__titlefan {
            padding-bottom: 10px;
            font-family: 'Overpass';
            color: $white-color;
        } // campos a rellenar del fanform
        &__inputshort {
            width: 85pt;
            height: 22pt;
            border-top-left-radius: 2pt;
            border-top-right-radius: 2pt;
            border-bottom-left-radius: 2pt;
            border-bottom-right-radius: 2pt;
            border: none;
            padding-left: 10px;
            margin: 10pt;
        }
        &__inputfan {
            width: 200pt;
            height: 22pt;
            border-top-left-radius: 2pt;
            border-top-right-radius: 2pt;
            border-bottom-left-radius: 2pt;
            border-bottom-right-radius: 2pt;
            border: none;
            padding-left: 10px;
            margin: 10pt;
        }
        // campos a rellenar del registro y login
        &__input {
            width: 151pt;
            height: 22pt;
            border-top-left-radius: 2pt;
            border-top-right-radius: 2pt;
            border-bottom-left-radius: 2pt;
            border-bottom-right-radius: 2pt;
            border: none;
            padding-left: 10px;
            margin: 10pt;
            &__position {
                display: flex;
                &--size {
                    width: 82pt;
                    height: 22pt;
                    border-top-left-radius: 2pt;
                    border-top-right-radius: 2pt;
                    border-bottom-left-radius: 2pt;
                    border-bottom-right-radius: 2pt;
                    border: none;
                    padding-left: 10px;
                    margin: 10pt;
                    background-color: $greyForm-color;
                }
            }
            &--size {
                width: 185pt;
                height: 22pt;
                border-top-left-radius: 2pt;
                border-top-right-radius: 2pt;
                border-bottom-left-radius: 2pt;
                border-bottom-right-radius: 2pt;
                border: none;
                padding-left: 10px;
                margin: 10pt;
                // modificacion del input de subir archivo, solo afecta a register y al form de pago
                &--color {
                    width: 185pt;
                    height: 22pt;
                    border-top-left-radius: 2pt;
                    border-top-right-radius: 2pt;
                    border-bottom-left-radius: 2pt;
                    border-bottom-right-radius: 2pt;
                    border: none;
                    padding-left: 10px;
                    margin: 10pt;
                    background-color: $greyForm-color;
                    // width: 151pt;
                    // height: 22pt;
                    // border-top-left-radius: 2pt;
                    // border-top-right-radius: 2pt;
                    // border-bottom-left-radius: 2pt;
                    // border-bottom-right-radius: 2pt;
                    // margin: 10pt;
                    // color: $white-color;
                }
            }
        }
        // texto de abajo del formulario
        &__text {
            color: $weirdGreen-color;
            font-family: 'Overpass';
            font-size: 10pt;
        }
    }