@import '../settings/settings.colors';

//caja del apartado conciertos donde se ve la imagen del artista nombre hora del concierto, precio, fecha (diapositiva 4) y apartado de entradas (diapositiva 4)
.box{
    width: 170.5pt;
    height: 86.5pt;
    background-color: $offYellow-color;
    border-top-right-radius: 8pt;
    border-bottom-right-radius: 8pt;

// caja donde se ve lo mismo que arriba más la dirección de la sala y el código QR (diapositiva 7)

    &__large{
        margin-left: 23px;
        margin-top: 30px;
        width: 245pt;
        height: 335pt;
        background-color: $white-color;
        border-bottom-right-radius: 8pt;
        border-bottom-left-radius: 8pt;
    }

// cajas de cada plataforma a sincronizar (diapositiva 10)
    &__synchronization{
        display: flex;
        width: 79pt;
        height: 35.5pt;
        background-color: $white-color;
        border-top-left-radius: 2pt;
        border-top-right-radius: 2pt;
        border-bottom-left-radius: 2pt;
        border-bottom-right-radius: 2pt;
    }

    // FALTA CAJA DEL FORMULARIO A LA HORA DE RALIZAR EL PAGO 
}