@import '../settings/settings.colors';

// button son los principales
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    //width: 60pt;
    //height: 22pt;
    padding: 10px 21px;
    margin: 10px;
    margin-bottom: 4px;
    border: none;
    border-radius: 15px;
    background-color: $teal-color;
    color: $white-color;
    font-family: 'Overpass';
    font-size: 10pt;
    cursor: pointer;
    outline:none;

    &:hover{
        background-color: $weirdGreen-color;
    }

    // botón principal igual pero cambia el tamaño, botón de descargar debajo del código QR
    &--sizemedium{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100pt;
        height: 25pt;
        margin-right: 40px;
        border: none;
        border-radius: 8pt;
        background-color: $teal-color;
        color: $white-color;
        font-family:  'Overpass';
        font-size: 10pt;
        cursor: pointer;

        &--radiusleft{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 83.5pt;
        height: 25pt;
        border: none;
        border-top-left-radius: 8pt;
        border-bottom-left-radius: 8pt;
        background-color:  $teal-color;
        color: $white-color;
        font-family: 'Overpass';
        font-size: 10pt;
        cursor: pointer;
        }

        &--radiusleft:hover{
            background-color: $weirdGreen-color;
        }


        &--radiusright{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 83.5pt;
            height: 25pt;
            border: none;
            border-top-right-radius: 8pt;
            border-bottom-right-radius: 8pt;
            background-color: $teal-color;
            color: $white-color;
            font-family:  'Overpass';
            font-size: 10pt;
            cursor: pointer;
        }

        &--radiusright:hover{
            background-color: $weirdGreen-color;
        }


    }

// botón principal igual pero el tamaño más grande de los botones
    &--sizebig{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 117.5pt;
        height: 20pt;
        border: none;
        border-radius: 10pt;
        background-color: $teal-color;
        color: $darkGreyBlue-color;
        font-family:  'Overpass';
        font-weight: bold;
        font-size: 7pt;
        cursor: pointer;

        &--color{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 182pt;
            height: 25pt;
            border: none;
            border-radius: 10pt;
            background-color: $offYellow-color;
            color: $darkGreyBlue-color;
            font-family:  'Overpass';
            font-weight: bold;
            font-size: 9pt;
            box-shadow: 0px 2px 8px 0px grey;
            cursor: pointer;
        }
    }

// botón principal igual pero cambia el tamaño y colores, botón de descarga dbajo del código QR
    &--color{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100pt;
        height: 25pt;
        border: none;
        border-radius: 8pt;
        background-color: $offYellow-color;
        color: $black-color;
        font-family:  'Overpass';
        font-weight: bold;
        font-size: 10pt;
        cursor: pointer;
    }

// botón de compra principal del apartado eventos (cuando se pincha en eventos)
    &__buy{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50pt;
        height: 25pt;
        border: 1px solid;
        border-radius: 10.8pt;
        border-color: $offYellow-color;
        background-color: transparent;
        color: $white-color;
        font-family:  'Overpass';
        font-size: 10pt;
        cursor: pointer;

// botón de compra cuando pinchas en artista sale toda la docu, lugar del concierto, etc
        &--detail{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            width: 55pt;
            height: 25pt;
            border: none;
            border-radius: 10pt;
            background-color: $offYellow-color;
            color: $black-color;
            font-family:  'Overpass';
            font-weight: bold;
            font-size: 10pt;
            cursor: pointer;
        }

    }
//botón compartir de detalle cuando pinchas en un artista sale la docu etc etc 
    &__share{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55pt;
        height: 25pt;
        border: none;
        border-radius: 10pt;
        background-color: $teal-color;
        color: $white-color;
        font-family:  'Overpass';
        font-size: 10pt;
        cursor: pointer;
    }

    &__fanClub{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 117.5pt;
        height: 20pt;
        border: none;
        border-radius: 10pt;
        background-color: $weirdGreen-color;
        color: $darkGreyBlue-color;
        font-family:  'Overpass';
        font-weight: bold;
        font-size: 10pt;
        cursor: pointer;
    }

}