.message {
  color: black;
  display: flex;
  font-weight: bold;
  background: #bcffad;
  margin-bottom: 5px;
  padding:5px;
  //border-bottom: 1px solid black;

  &--receive {
    font-weight: bold;
    display: flex;
    background: #4f805d;
    margin-bottom: 5px;
    padding:5px;
    //border-bottom: 1px solid black;
    justify-content: flex-end;
  }
}

