.friend {
  margin-bottom: 10px;
  display: flex;
  flex-grow: 10;

  &__img{
    flex: 2;
    img{
      height: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
  }

  &__info{
    display: flex;
    align-items: center;
    padding-left: 20px;
    flex: 8;
    background: white;
    color: black;
  }
}