@import '../../styles/settings/settings.colors.scss';

.chat-card {
  display: flex;
  flex-direction: row;
  flex-grow: 8;
  height: 70px;
  margin: 10px;

  &__img{
    flex: 2;
    justify-content: center;
    align-items: center;
    width: 100%;

    background: $offYellow-color;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;

    img {
      object-fit: cover;
      height: 100%;
      border-radius: 0;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
    }
  }

  &__info{
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 6;
    background: whitesmoke;

    &__detail{

      display: flex;
      justify-content: space-between;

      span {
        font-size: 14px;
      }

      &__user{
        font-weight: bold;
      }

      &__date{
        font-weight: bold;
        color: #02AEFF;
      }
    }

    &__message{
      padding-top: 5px;
    }
  }
}