@import '../../styles/mainStyles';

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: $header-height;
    background-color: $offYellow-color;

    h1 {
        margin: 0;
    }
   

    &__icon{
        color: black;
        position: absolute;
        padding-right: 300px;
    }

    

}