@import '../../styles/settings/settings.colors';

.report__button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.report__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    font-family: 'Overpass';
    color: $buy-tickets-color;
}


.position{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}