// body{

// }

.animation{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    align-content: center;
    background: linear-gradient( 38deg, rgb(49, 196, 186) 5%, rgb(62,92, 143) 85%);
    padding: 20px;
    height: 100vh;
    width: 100vw;
    z-index: 10000;

    &__title{
        font-family: 'Overpass';
        font-size: 2rem;
        position: absolute;
        top: 150px;
        left: 75px;
    }

    &__clip{
        height: 100%;
    }

}