@import '../../styles/settings/settings.colors.scss';

.event {
    //padding: 20px 20px 0 20px;
    margin-bottom: 15px;

    &__date {
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.line {
    border-color: $weirdGreen-color ;
}