//colores primarios
$offYellow-color:  rgb(255, 220, 53);
$weirdGreen-color: rgb(77, 213, 153);
$teal-color: rgb(1, 145, 142);
$darkGreyBlue-color: rgb(17, 0, 51); // color de fondo

//colores para textos
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$text-header-color: rgb(39, 57, 81); //texto titulos header
$buy-tickets-color: rgb(47, 56, 64); // este color pertenece solo al texto del formulario compra tus entradas
$darkGreyBlue-color: rgb(17, 0, 51);
$greyForm-color: rgb(236, 233, 233)




