@import '../../styles/settings/settings.colors.scss';
@import '../../styles/settings/settings.variables';

.box-form{
  padding: 19px;
  height: 80vh;
  overflow: auto;
  height: calc(100vh - #{$header-height} - #{$main-menu-height});
  width: 100%;

  form{
    background-color: $white-color;
    padding: 35px;
    border-bottom-left-radius: 8pt;
    border-bottom-right-radius: 8pt;
    

    .form__price {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 10px;
    }

    p{
      color: $black-color;
    }
    input {
      width: 100%;
      margin: 5px;
    }
    select {
      width: 100%;
    }
   }

  &__header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 8pt;
    border-top-right-radius: 8pt;
    font-family: 'Overpass';
    font-weight: bold;
    font-size: 18px;
    background-color: $offYellow-color;
    color: $black-color;
  }
}

.position{
  width: 100%;
  padding: 0;

  &__card{
    padding-right: 118px;
    padding-top: 15px;
  }
}

.form__button{
  margin-top: 5px;
}

.price {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Overpass';

  &__box{
    margin-bottom: 15px;
    font-family: 'Overpass';
  }
}