@import '../../styles/settings/settings.colors.scss';

.ticket{
    display: flex;
    flex-grow: 8;
    width: 100%;
    display: flex;
    img{
        width: 110px;
        height: 110px;
        margin-bottom: 20px;
        object-fit: cover;
    }

    &__col1{
        display: flex;
        flex: 3;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__col2{
        display: flex;
        //flex: 4;
        padding-left: 10px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 3;
    }

    &__col3{
        display: flex;
        flex: 1;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        flex-grow: 3;
    }

    &__row{
        flex: 1;
    }

    &__location {
        flex: 1;
        font-family: 'Overpass';
        color: $white-color;
        font-size: 10pt;

        &__wish{
            display: flex;
            font-family: 'Overpass';
            color: $white-color;
            font-size: 10pt;

            &--button{
                background: transparent;
                border: none;
            }
        }
    }

    &__singer{
        flex: 1;
        font-size: 20px;
    }

    &__buy{
        flex: 1;
        font-family: 'Overpass';
        color: $white-color;
        font-size: 10pt;
    }

    &__price{
        flex: 1;
        font-family: 'Overpass';
        color: $white-color;
        font-size: 10pt;
    }

    &__assistants{
        flex: 1;
        font-family: 'Overpass';
        color: $white-color;
        font-size: 10pt;
    }

}

.wish{
    color: yellow;
}

.wishTwo{
    color: white;
}

