@import '../../styles/settings/settings.variables';

.detail{
    padding: 19px;
    margin-top: 8px;
    overflow: auto;
    height: calc(100vh - #{$header-height} - #{$main-menu-height});
    width: 100%;

    &__buttons{
        display: flex;
        padding-top: 5px;
        padding-bottom: 20px;
    }
}
