@import '../../styles/settings/settings.colors';



.box {
  display: flex;
  width: 100%;
  height: 10rem;
  // margin-bottom: 50px;

  img{
    height: 100%;
    width: 50%;
    object-fit: cover;
  }

  &__detail {
    padding: 15px;
    color: black;
    width: 50%;
    

    &__singer {
      height: 40%;
    }

    &__date {
      height: 30%;
      
    }
    // &__position{
    //   margin-bottom: 1px;
    // }

    &__time{
      padding-left: 5px;
      margin-bottom: 2px;
    }

    &__price{
      padding-left: 10px;
    }

    &__play{
    margin-left: 70px;
    font-size: 25px;
     
    }
  }
}