@import '../../styles/settings/settings.variables';

.chat {
  display: flex;
  height: calc(88vh - #{$header-height} - #{$main-menu-height});
  justify-content: space-between;
  flex-direction: column;

  &__messages {

  }

  &__form {

  }
}