.user-profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &__img {
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 200px;

    img{
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }

    input {
      display: none;
    }
  }

  &__icon {
    font-size: 100px;
  }

}

