@import "../../styles/settings/settings.colors";
@import '../../styles/settings/settings.variables';

.home {
  padding: 19px;
  overflow: auto;
  height: calc(100vh - #{$header-height} - #{$main-menu-height});
  width: 100%;
  background: $darkGreyBlue-color;

  &__hello{
    font-family: 'Overpass';
    font-weight: 200;
    color: $offYellow-color;
    text-align: center;
  }
}