@import '../../styles/settings/settings.colors.scss';
@import '../../styles/settings/settings.variables';

.fans {
    padding: 19px;
    overflow: auto;
    height: calc(100vh - #{$header-height} - #{$main-menu-height});
    width: 100%;
    background-image: url('https://res.cloudinary.com/dj0zfm4sd/image/upload/v1614339387/page%20logos/fan-bg_hftkmb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    &__logo {
        display: flex;
        justify-content: center;
        margin: 20px;
        img {
            width: 70%;
        }
    }
    &__text {
        h2 {
            text-align: center;
            padding-bottom: 20px;
            font-family: 'Overpass';
            font-weight: 200;
            color: $white-color;
        }
        p {
            text-align: center;
            font-family: 'Overpass';
            color: $white-color;
            font-size: 14px;
        }
    }
    &__link {
        text-decoration: none;
        padding-top: 20px;
        &-green {
            font-family: 'Overpass';
            text-align: center;
            color: $weirdGreen-color;
            text-decoration: none;
        }
    }
}